body {
    margin: 15;
    text-align: center;
}
button{
    margin-top: 200px;
    width: 100px;
    height: 50px;
    background-color: gray;
    color: white;
    border: solid 1px gray;
}
button:hover{
    animation: 1s bgcolor;
}
@keyframes bgcolor{
    to{
        background-color: black;
    }
}